################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MineSweeper/.vs/MineSweeper/v16
/MineSweeper/MineSweeper/bin/Debug
/MineSweeper/MineSweeper/obj/Debug
